# The purpose of this workflow is to execute `R CMD check` on different R and OS version.
#
# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: R-CMD-check

jobs:
  R-CMD-check:
    runs-on: self-hosted #${{ matrix.config.os }}

    name: "ubuntu" # ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          # some dependencies can't be installed on windows or mac OS. We only support Linux. Period.
          # - { os: macOS-latest, r: "release" }
          # - { os: windows-latest, r: "release" }
          # TODO devel currently fails because a dependency can't be installed. Hopefully this gets fixed.
          # - { os: ubuntu-latest, r: "devel", http-user-agent: "release" }
          - { os: ubuntu-22.04, r: "4.2.2" }
          - { os: ubuntu-22.04, r: "oldrel-1" }

    env:
      GITHUB_PAT: ${{ secrets.TOKEN }}
      R_KEEP_PKG_SOURCE: yes
      CIBERSORTX_EMAIL: ${{ secrets.CIBERSORTX_EMAIL }}
      CIBERSORTX_TOKEN: ${{ secrets.CIBERSORTX_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - name: Update system dependencies
        # due to recent versions of GLIBC missing
        run: |
          sudo apt-get update && sudo apt-get install cmake libstdc++6 \
          libcurl4-openssl-dev libssl-dev libxml2-dev libfontconfig1-dev \
          libharfbuzz-dev libfribidi-dev \
          libfreetype6-dev libpng-dev libtiff5-dev libjpeg-dev -y

      - uses: r-lib/actions/setup-pandoc@v2
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: 4.2.2 # ${{ matrix.config.r }}
          # http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - name: Install pak
        run: Rscript -e "install.packages('pak', repos='https://cran.rstudio.com/')"

      #- name: harmony
      #  run: Rscript -e "pak::pkg_install('omnideconv/harmony')"

      # - name: BiocManager
      #   run: Rscript -e "pak::pkg_install('BiocManager')"
      #
      # - name: Giotto deps
      #   run: Rscript -e "BiocManager::install(c('lfa', 'SPARK', 'trendsceek'))"

      #- name: Giotto
      #  run: Rscript -e "pak::pkg_install('drieslab/Giotto@master')"

      - name: Install Devtools
        run: Rscript -e "pak::pkg_install('devtools')"

      - name: Install SpatialExperiment
        run: Rscript -e "devtools::install_github('drighelli/SpatialExperiment')"

      - name: Install Seurat
        run: Rscript -e "install.packages('Matrix')"

      - name: Install Test Dependencies
        run: Rscript -e "pak::pkg_install(c('testthat', 'omnideconv/immunedeconv', 'omnideconv/omnideconv'))" # drighelli/SpatialExperiment'

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          dependencies: '"hard"' # do not install suggests
          extra-packages: any::rcmdcheck, any::rmarkdown, any::markdown, local::.
          needs: check
          #error-on: '"error"'

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
          error-on: '"error"'
