# The purpose of this action is to calculate the code coverage and add the results on codecov.io
# codecov.io provides a badge showing the current coverage and generates coverage reports for each pull requests.
#
# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: test-coverage

jobs:
  test-coverage:
    runs-on: self-hosted # ubuntu-22.04
    env:
      GITHUB_PAT: ${{ secrets.TOKEN }}
      CIBERSORTX_EMAIL: ${{ secrets.CIBERSORTX_EMAIL }}
      CIBERSORTX_TOKEN: ${{ secrets.CIBERSORTX_TOKEN }}
      CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}

    steps:
      - uses: actions/checkout@v4

      - name: Update system dependencies
        # due to recent versions of GLIBC missing
        run: |
          sudo apt-get update && sudo apt-get install cmake libstdc++6 \
          libcurl4-openssl-dev libssl-dev libxml2-dev libfontconfig1-dev \
          libharfbuzz-dev libfribidi-dev \
          libfreetype6-dev libpng-dev libtiff5-dev libjpeg-dev -y
      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install pak
        run: Rscript -e "install.packages('pak', repos='https://cran.rstudio.com/')"

      - name: Install SpatialExperiment
        run: Rscript -e "pak::pkg_install('drighelli/SpatialExperiment')"

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          dependencies: "TRUE" # '"hard"' # do not install suggests
          extra-packages: any::covr, any::devtools
          needs: coverage

      - name: Test coverage
        run: covr::codecov(quiet = FALSE)
        shell: Rscript {0}
